# User/system junk
> .cache/
> .config/
> .local/
> .ssh
> 
> # Shell history and profile files
> .bash_history
> .bash_logout
> .bash_profile
> .bashrc
> .gitconfig
> .viminfo
> 
> # VirtualBox junk
> .vboxclient-*
> 
> #Temp file
> lab_temp.md


